MONGO_URI=mongodb://localhost:27017/frisco-fencing-dev
PORT=4000
NODE_ENV=development
JWT_SECRET=
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
SUPERADMIN_FIRST_NAME=
SUPERADMIN_LAST_NAME=
